footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  height: fit-content;
  width: 100%;
  font-size: 14px;
  background-color: rgb(23, 23, 23);
  border-top: 1px solid rgb(113, 113, 113);
  padding: 0 30px;
}

.footerLinks {
  height: 100%;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  footer {
    justify-content: space-evenly;
    row-gap: 20px;
  }
}
